html, body {
	height: 100%;
	box-sizing: border-box;
}
body {
	background-color: #ffffff;
}
* {
	box-sizing: border-box
}
/*Headers*/
h1 a{
	font-size: 36;
	color: 800000;
}
	
h2 a{
	font-size: 14;
}
